<h1>Editing Events</h1>

<%= render "form", consultation: @consultation %>

<br>

<div>
  <%= link_to "Show this event", @consultation %> |
  <%= link_to "Back to event", consultations_path %>
</div>
