<p style="color: green"><%= notice %></p>

<%= render partial: 'consultations/member_consultation', locals: { object: @consultation } %>

<div>
  <%= link_to "Back to Calendar", pages_path %>
</div>
