<%= render @consultation %>

<div>
  <%= link_to "Edit this event", edit_consultation_path(@consultation) %> |
  <%= link_to "Back to events", consultations_path %>

  <%= button_to "Destroy this event", @consultation, method: :delete %>
</div>
