<div class="dashboard-footer">
    <%= link_to "Frequently Asked Questions", faq_path %>
    <p>Found a bug? Report it to <a href="mailto: connie.liu@tamu.edu">connie.liu@tamu.edu</a><p>
    <p>Developed Spring 2023 by Team Pixar for the Latino Aggie Mentorship Program</p>
</div>