<div class="stats">
    <%= link_to "Back to Dashboard", "/"%>
    <p>
    <p>
    <h1>FAQ</h1>
    <br>

    <h4>Q: I am logged in as the wrong role (mentor/mentee/etc.) and do not have access to the right features. How can I fix this?</h4>
    <p>A: To request a role change, please contact a LAMP officer. They will be able to update your role and permissions.</p>
    <br>

    <h4>Q: I mistakenly signed in to an event that I did not attend, or I accidentally logged more tutoring hours than I actually completed. Can this be resolved?</h4>
    <p>A: There is no way to remove attendance points and/or tutoring hours from your own account. Please contact a LAMP officer. They will have the ability to roll back your points/hours.</p>
    <br>

    <h4>Q: I'd like to suggest a new feature for the web application. Who should I contact?</h4>
    <p>A: To request a new feature that you would like to see in the web application, please raise your suggestion to a LAMP officer. They are in contact with the development team and will be able to communicate your request.</p>
    <br>

    <h4>Q: I'd like to report an error. What do I do?</h4>
    <p>A: To report a bug, please send an email to <a href="mailto: connie.liu@tamu.edu">connie.liu@tamu.edu</a> with the subject line "LAMP App Error Report" and a detailed description of the issue along with screenshots, if possible.</p>
    <br>
</div>