/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.backgroundBody {
    background-color: rgb(255, 255, 255);
    height: 120vh;
    width: 100vw; 
    /*background-image: url("tree.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100vw;*/
}

#signin {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page {
    height: 30vh;
    text-align: center;
}

.landing-page h2 {
    padding: 10%;
}

.sign-in-out-button {
    padding: 3%;
    color: white;
    background-color: black;
    border: black solid 2px;
}

.sign-in-out-button:hover {
    border: black solid 2px;
    color: black;
    background-color: white;
    transition: 0.3s;
}

.simple-calendar {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
}
.day {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
}
  
.wday-0 {
    color: #f00;
    width: 14.2vw;
    height: 15vh;
}
.wday-1 {
    color: #000;
    width: 14.2vw;
    height: 15vh;
}
.wday-2 {
    color: #000;
    width: 14.2vw;
    height: 15vh;
}
.wday-3 {
    color: #000;
    width: 14.2vw;
    height: 15vh;
}
.wday-4 {
    color: #000;
    width: 14.2vw;
    height: 15vh;
}
.wday-5 {
    color: #000;
    width: 14.2vw;
    height: 15vh;
}
.wday-6 {
    color: #f00;
    width: 14.2vw;
    height: 15vh;
}

.today {
    background-color: #f0f0f0;
}
.past {
    color: #ccc;
}
.future {
    color: #000;
}

.start-date {
    background-color: #f0f0f0;
}

.prev-month {
    color: #ccc;
}
.next-month { 
    color: #ccc;
}
.current-month {
    color: #000;
}

.has-events {
    background-color: #f0f0f0;
}

.dashboard-header {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.dashboard-title {
    padding: 20px;
}

.sign-out {
    width: 9vw;
    position: absolute;
    top: 30%;
    right: 2%;
}

.user-column {
    padding-left: 10px;
    padding-right: 10px
}

nav {
    background-color: #f5f5f5;
    padding: 10px;
}

nav ul {
    margin: 0;
    /* padding: 0; */
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
}

nav ul li.active a {
    background-color: #b1b1b1;
    color: #333;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav a:hover {
    background-color: #333;
    color: #fff;
    transition: 0.3s;
}

.card-header2 {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: #D0F0C0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.meetings {
    height: 11vh;
    overflow-y: scroll;
}
